<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STILOS-->
    <link rel="stylesheet" href="stylesheets/nstyle.css">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--TITULO-->
    <title>Nosotros</title>

</head>
<body>

<!--NAVBAR-->

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="./">EL Perol</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./reservaciones">Reservaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./menu">Menu</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/signin">Iniciar Sesion</a></li>
            <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
            <li><hr class="dropdown-divider"></li>
            <!--<li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
        </li>
<!--       
      <li class="nav-item">
        <a class="nav-link" href="./signin">Iniciar Sesion</a>
      </li>
  -->        
  </ul>

    </div>
  </div>
</nav>
<!--MAIN CONTENT-->

    <div class="container text-center local" >
        <img src="../imgs/bg.png" alt="Hamburguesa" width="330" height="185">
    </div>

    <div class="container text-center copy">
        <h1 class="text-center"> Nosotros </h1>
        <div class="text-center">
            En El Perol, nos apasiona servir las mejores    hamburguesas de la ciudad. Nuestro objetivo es ofrecerte una experiencia culinaria</br> 
            inigualable, donde cada bocado sea una explosión de sabores y cada visita sea memorable. Utilizamos ingredientes frescos y de </br>
            alta calidad para garantizar que cada hamburguesa sea jugosa, tierna y llena de sabor. Ya sea que prefieras una clásica </br>
            hamburguesa con queso o quieras aventurarte con nuestras creaciones especiales, estamos seguros de que encontrarás </br>
            algo que te haga agua la boca.
        </div>
    </div>


    <!--BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
<%layout('layouts/footer')%>
</html>